@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100vh;
}
body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: #bbb;
    background-color: #000;
    width: 1000px;
    
}
main {
    margin: 0 auto;
}
h1 {font-size: 2.5rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.75rem;}
h4 {font-size: 1.5rem;}
h5 {font-size: 1.25rem;}
h6 {font-size: 1rem;}
a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 15px;
    font-weight: 900;

}
p {
    font-size: 1rem;
    font-weight: 600;
}
/* Navbar */
#navbar {

    width: 1000px;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}
#navbar a {
	color: #bbb;
}
#navbar .logo {
	float: left;
	padding-top: 10px;
	font-size: 25px;
}
#navbar ul {
    list-style: none;
    float: right;
}
#navbar ul li {
    float: left;
}
#navbar ul li a{
    font-size: 1rem;
    display: block;
    padding: 20px;
    text-align: center;
    font-weight: 700;
}
#navbar ul li a:hover {
    color: #75e3e9;
}

/*
#boton-portafolio {
    color: #aaaaaa;
}
*/
/* Showcase*/
#showcase {
    padding: 20px 0;
    margin: 20px 0;
}
.showcase-row {
    display: flex;
    margin: 20px 0;
}
.showcase-row-title {
    margin: 40px 0;
}
.showcase-row-title p.large {
    margin: 20px 0;
}



/* clases */
.lenguajes {
    color: #b48b3a;
}


.container {
    transition: all .5s ease-in-out;
}
.container.fade-out {
    opacity: 0;
}
.txt-celeste {
	color: #23adb4;
}
.display-1 {
	font-size: 5rem;
}
.large {
    
    font-family: monospace;
    padding: 30px 0;
	font-size: 1.2rem;
}

.btn {
    display: inline-block;
    font-size: 15px;
    padding: 12px 23px;
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 4px;
    margin: 30px 0;
}
.btn-round {
    border-radius: 20px;
}
.btn-dark {
    background-color: #23adb4;
    color: #000;
}
.btn-dark:hover {
    
    background-color: #75e3e9;
}
.container {
    margin: auto;
    max-width: 1000px;
    overflow: auto;
    padding: 0 20px;
}

/* header-home*/
#header {
    margin: 0 auto;
    width: 1000px;
}
#header h1 a:hover {
    color: #fff;
}
#header h1 a {
    font-size: 1.7rem;
}


/* animacion */
#typing-effect {
    font-family: inherit;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #00bcd4;
    display: inline;
    animation: blink 0.6s step-end infinite;
}

@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #ccc;
    }
}

/* PORTAFOLIO CSS */

.format-container-portfolio {
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 20px;
    padding-top: 70px;
}

.codigo-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
}

.codigo-item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    
    margin: 0 15px 30px;

    overflow: hidden;

    border-radius: 28px;
}

.codigo-item__link {
    display: block;
    padding: 30px 20px;
    background-color: #1d1d1d;
    overflow: hidden;
    position: relative;
}

.codigo-item__link:hover,
.codigo-item__link:hover .codigo-item__date-box__date {
    text-decoration: none;
    color: #fff;
}

.codigo-item__link:hover .codigo-item__bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.codigo-item__title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;

    z-index: 2;
    position: relative;
}

.codigo-item__date-box {
    font-size: 18px;
    color: #999;
    z-index: 2;
    position: relative;

}
.codigo-item__link:hover .codigo-item__title,.codigo-item__link:hover .codigo-item__date-box {
    color: #fff;
}
.codigo-item__date-box__date {
    font-weight: bold;
    color: #f0b234;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

/*  animacion para que entre el color a la caja codigo-item*/
.codigo-item__bg {
    height: 130px;
    width: 130px;
    background-color: #f9b234;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50px;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.codigo-item:nth-child(2n) .codigo-item__bg {
    background-color: #3ecd5e;
}
.codigo-item:nth-child(3n) .codigo-item__bg {
    background-color: #e44002;
}
.codigo-item:nth-child(4n) .codigo-item__bg {
    background-color: #952aff;
}
.codigo-item:nth-child(5n) .codigo-item__bg {
    background-color: #cd3e94;
}
.codigo-item:nth-child(6n) .codigo-item__bg {
    background-color: #4c49ea;
}

/* ------ ABOUT ME ----------- */

.format-container-about {
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
    padding: 40px;
    margin-top: 70px;
    background-color: #1d1d1d;
    border-radius: 28px;
}

li {
    list-style: none;
    text-decoration: none;
}

section {
    padding: 20px;
}
section h2 {
    margin-top: 30px;
    font-size: 2rem;
}

section ul li, section p {
    font-size: 1.2em;
    padding: 20px;
}

.aboutme h1 {
    font-size: 5rem;
    text-align: center;
    padding: 30px;
    color: #00bcd4;
}

section:hover h2{
    color: #23adb4;

}
section:active h2{
    color: #00bcd4;

}

hr {
    box-shadow: 1px 1px 1px 1px#00bcd4;
}
.format-container-contact {
    max-width: 1000px;
    margin: 40px auto 0 auto;
    overflow: auto;
    padding: 0 20px;
    padding-top: 0px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    
}
.contacto {
    height: auto;
    width: auto;
    padding: 10px 60px;
    margin: 20px auto 10px auto;
    background: #1d1d1d;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
}

form h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 50px;
    color: #00bcd4;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
}
input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 14px;
}
input, textarea{
    background-color: #333;
    margin: 10px auto 20px auto;
    color: #fff;
    font-weight: 600;
}
input:focus, textarea:focus,input:hover, textarea:hover  {
    transition: all .2s ease;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
}