@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #23adb4;
    --secondary-color: #75e3e9;
    --dark-color: #1d1d1d;
    --light-color: #bbb;
    --accent-color: #00bcd4;
    --bg-color: #000;
    --font-family: 'Montserrat', sans-serif;
    --container-width: 90%;
    --max-container-width: 1000px;
    --border-radius: 10px;
    --box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: var(--font-family);
    color: var(--light-color);
    background-color: var(--bg-color);
}

body {
    margin: 0 auto;
    width: var(--container-width);
    max-width: var(--max-container-width);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    font-weight: 900;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }


a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 1rem;
    font-weight: 600;
}
.logo-img {
    margin-top: .2em;
    width: 2em;
    height: 2em;
}

/* Navbar */
#navbar {
    width: 100%;
    overflow: auto;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    color: var(--light-color);
}

#navbar .logo {
    font-size: 2rem;
    text-align: center;
}

#navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;

}

#navbar ul li a {
    font-size: 1rem;
    display: block;
    padding: 10px;
    text-align: center;
    font-weight: 700;
}

#navbar ul li a:hover {
    color: var(--secondary-color);
}

/* Showcase */
#showcase {
    padding: 0;
    margin: 20px 0;
    text-align: center;
}

.showcase-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.showcase-row-title {
    margin: 10px 0;
}

.showcase-row-title p.large {
    margin: 20px 0;
}

/* Clases */
.lenguajes {
    color: #b48b3a;
}

.container {
    transition: all .5s ease-in-out;
    margin: auto;
    max-width: var(--max-container-width);
    overflow: auto;
    padding: 0 20px;
}

.container.fade-out {
    opacity: 0;
}

.txt-celeste {
    color: var(--primary-color);
}

.display-1 {
    font-size: 5rem;
}

.large {
    font-family: monospace;
    padding: 30px 0;
    font-size: 1.2rem;
}

/* Botones */
.btn {
    display: inline-block;
    font-size: 1.5rem;
    padding: 12px 23px;
    letter-spacing: 2px;
    font-weight: 900;
    border-radius: 4px;
    margin: 30px 0;
}

.btn-round {
    border-radius: 20px;
}

.btn-dark {
    background-color: var(--primary-color);
    color: #000;
}

.btn-dark:hover {
    background-color: var(--secondary-color);
}

/* Header Home */
#header {
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-container-width);
}

#header h1 a:hover {
    color: #fff;
}

#header h1 a {
    font-size: 1.7rem;
}

/* Animación */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

#typing-effect {
    font-family: inherit;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid var(--accent-color);
    display: inline;
    animation: blink 0.6s step-end infinite, typing 3s steps(8, end) infinite;
}

@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: #ccc; }
}

/* Portafolio CSS */
.format-container-portfolio {
    max-width: var(--max-container-width);
    margin: 0 auto;
    overflow: auto;
    padding: 0 20px;
}

.codigo-box {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 0;
}

.codigo-item {
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
}

.codigo-item__link {
    display: block;
    padding: 30px 20px;
    background-color: var(--dark-color);
    overflow: hidden;
    position: relative;
}

.codigo-item__link:hover,
.codigo-item__link:hover .codigo-item__date-box__date {
    text-decoration: none;
    color: #fff;
}

.codigo-item__link:hover .codigo-item__bg {
    transform: scale(10);
}

.codigo-item__title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    z-index: 2;
    position: relative;
}

.codigo-item__date-box {
    font-size: 18px;
    color: #999;
    z-index: 2;
    position: relative;
}

.codigo-item__link:hover .codigo-item__title,
.codigo-item__link:hover .codigo-item__date-box {
    color: #fff;
}

.codigo-item__date-box__date {
    font-weight: bold;
    color: #f0b234;
    transition: color .5s ease;
}

.codigo-item__bg {
    height: 130px;
    width: 130px;
    background-color: #f9b234;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50px;
    transition: all .5s ease;
}

.codigo-item:nth-child(2n) .codigo-item__bg {
    background-color: #3ecd5e;
}

.codigo-item:nth-child(3n) .codigo-item__bg {
    background-color: #e44002;
}

.codigo-item:nth-child(4n) .codigo-item__bg {
    background-color: #952aff;
}

.codigo-item:nth-child(5n) .codigo-item__bg {
    background-color: #cd3e94;
}

.codigo-item:nth-child(6n) .codigo-item__bg {
    background-color: #4c49ea;
}

/* About Me */
.format-container-about {
    max-width: var(--max-container-width);
    margin: 0 auto;
    overflow: auto;
    padding: 40px;
    margin-top: 30px;
    background-color: var(--dark-color);
    border-radius: 28px;
}

li {
    list-style: none;
    text-decoration: none;
}

section {
    padding: 20px;
}

section h2 {
    margin-top: 30px;
    font-size: 2rem;
}

section ul li, section p {
    font-size: 1.2em;
    padding: 20px;
}

.aboutme h1 {
    font-size: 5rem;
    text-align: center;
    padding: 30px;
    color: var(--accent-color);
}

section:hover h2 {
    color: var(--primary-color);
}

section:active h2 {
    color: var(--accent-color);
}

hr {
    box-shadow: 1px 1px 1px 1px var(--accent-color);
}

.format-container-contact {
    max-width: var(--max-container-width);
    margin: 20px auto 2em auto;
    overflow: auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contacto {
    height: auto;
    width: auto;
    padding: 0 60px;
    margin: 0px auto 10px auto;
    background: var(--dark-color);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
}

form h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 50px;
    color: var(--accent-color);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 14px;
}

input, textarea {
    background-color: #333;
    margin: 10px auto 20px auto;
    color: #fff;
    font-weight: 600;
}

input:focus, textarea:focus, input:hover, textarea:hover {
    transition: all .2s ease;
    box-shadow: var(--box-shadow);
}

/* Media Queries */
@media (max-width: 768px) {
    .display-1 {
        font-size: 3rem;
    }

    .large {
        font-size: 1rem;
    }

    #navbar ul {
        flex-direction: column;
        align-items: center;
    }

    #navbar ul li {
        float: none;
    }

    .codigo-item {
        flex-basis: calc(50% - 30px);
    }
}

@media (max-width: 480px) {
    .display-1 {
        font-size: 2rem;
    }

    .large {
        font-size: 0.9rem;
    }

    .codigo-item {
        flex-basis: 100%;
    }
}