

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}


.tabla {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.cabecera {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
    background-color: #34495e;
    color: #fff;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.cabecera div {
    text-align: center;
    padding: 0.5rem;
}


[class^="equipo"] {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
    border-bottom: 1px solid #ddd;
    padding: 0.5rem 1rem;
    align-items: center;
}

[class^="equipo"]:nth-child(even) {
    background-color: #f9f9f9;
}

[class^="equipo"]:hover {
    background-color: #f1f1f1;
}

/* Elementos de cada celda */
.posicion, .pj, .g, .e, .p, .gf, .gc, .dg, .pts, .ultimos {
    text-align: center;
}

.logo img {
    max-height: 30px;
    width: auto;
    display: flex;
    margin: 0 0;
}

.club, .nombre {
    text-align: left;
    padding-left: 0.5rem;
}

